<ul class="list-group list-group-flush">
  <ng-container *ngFor="let contact of contacts$ | async">
    <app-contact-option [contact] = contact (selectContact)="select($event)"></app-contact-option>
  </ng-container>
</ul>
