<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">PhoneBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLink="/create" routerLinkActive="active">
        <a class="nav-link">New Contact <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="dropdown">
      <a class="dropdown-toggle text-body" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Birthdays
      </a>
      <ng-container *ngIf="(birthdayContacts$ | async).length > 0 then birthdays; else noBirthdays"></ng-container>
      <ng-template #noBirthdays>
        <div class="dropdown-menu dropdown-menu-md-right dropdown-menu-sm-left">
          <a class="dropdown-item">No one birthdays today</a>
        </div>
      </ng-template>
      <ng-template #birthdays>
        <div class="dropdown-menu dropdown-menu-md-right dropdown-menu-sm-left">
          <ng-container *ngFor="let birthdayContact of birthdayContacts$ | async">
            <a class="dropdown-item" [routerLink]="'/edit/' + birthdayContact.id">{{birthdayContact.firstName + ' ' + birthdayContact.lastName}}</a>
          </ng-container>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
