<div class="list-group-item" style="cursor: pointer;" (click)="select()">
    <h5 class="card-title">{{contact | fullName}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{contact | mainPhoneNumber}}</h6>
</div>
