.fake-not-readonly {
  background-color: #FFFFFF;
  cursor: pointer;
}
.form-group.has-error input {
  color: #495057;
  background-color: #fff;
  border-color: rgba(255, 0, 0, 0.3);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3);

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgba(255, 0, 0, 0.3);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3)
  }
}
