<form [formGroup]="contactForm" (ngSubmit)="createContact()">
  <div class="form-group" [ngClass]="displayFieldCss(contactForm, 'firstName')">
    <label for="firstNameInput">First Name</label>
    <input [formControlName]="'firstName'" type="text" class="form-control" id="firstNameInput"
            placeholder="Enter first name">
  </div>
  <div class="form-group" [ngClass]="displayFieldCss(contactForm, 'lastName')">
    <label for="lastNameInput">Last Name</label>
    <input [formControlName]="'lastName'" type="text" class="form-control" id="lastNameInput"
           placeholder="Enter last name">
  </div>
  <div class="form-group" [ngClass]="displayFieldCss(contactForm, 'email')">
    <label for="emailInput">Email</label>
    <input [formControlName]="'email'" type="email" class="form-control" id="emailInput"
           placeholder="Enter email">
  </div>
  <div class="form-group" [ngClass]="displayFieldCss(contactForm, 'birthday')">
    <label for="birthdayInput">Birthday</label>
    <input type="text" class="form-control fake-not-readonly" id="birthdayInput"
           placeholder="Pick birthday" readonly>
  </div>
  <ng-container formArrayName="phoneNumbers" *ngFor="let phoneNumber of contactForm.controls.phoneNumbers['controls']; let i = index">
    <div [formGroupName]="i" class="form-row">
      <div class="form-group col-md-4" [ngClass]="displayFieldCss(phoneNumber, 'phoneNumber')">
        <label for="phoneNumberInput">Phone Number</label>
        <input [formControlName]="'phoneNumber'" type="text" class="form-control" id="phoneNumberInput"
               placeholder="Enter phone number">
      </div>
      <div class="form-group col-md-3">
        <label for="categoryInput">Category</label>
        <select [formControlName]="'category'" id="categoryInput" class="form-control">
          <option selected [value]="phoneNumberCategory.MAIN">Main</option>
          <option [value]="phoneNumberCategory.HOME">Home</option>
          <option [value]="phoneNumberCategory.WORK">Work</option>
          <option [value]="phoneNumberCategory.OTHER">Other</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="isMainInput">Use as main</label>
        <div class="form-check form-check-input w-100 text-center">
          <input [formControlName]="'isMain'" class="form-check-input" type="radio" [value]="true"
                 (click)="resetOtherIsMain(i)"
                 id="isMainInput">
        </div>
      </div>
      <div class="form-group col-md-2">
        <label>Remove</label>
        <button class="btn btn-block btn-light" type="button" (click)="removePhoneNumberGroup(i)">-</button>
      </div>
    </div>
  </ng-container>
  <div class="form-group">
    <button class="btn btn-block btn-light" type="button" (click)="addPhoneNumberGroup()">+</button>
  </div>
  <div class="row text-center">
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary"
              [disabled]="contactForm.untouched || contactForm.invalid">Save</button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" *ngIf="editMode" (click)="removeContact()">Remove</button>
    </div>
  </div>
</form>
